body {

}

blockquote {
  color: grey;
}

#main-navbar {
  background-color: #aa0404;
}

.entry-title {
  background-color: darkblue;
  color: white;
  padding: 5px;
  border-radius: 10px;
}

.action {
  cursor: pointer;
}

.color-picker-palette td {
  width: 50px;
  height: 50px;
}

.light-placeholder::placeholder {
  color: lightgrey;
}
