extends layout

block content
  .container.text-center
    h1 Le Codex
    p La Côterie OmniSciences vous propose d'accéder <i>(gratuitement !)</i> à sa base de données pour obtenir des connaissances sur la Tyrie et ses habitants !

    .row.justify-content-center
      a(href="/codex/lore" style="margin: 10px;")
        .card.border-primary.text-center(style="width: 18rem;")
          .card-body
            h2.card-title LORE
      a(href="/codex/bestiaire" style="margin: 10px;")
        .card.border-primary.text-center(style="width: 18rem;")
          .card-body
            h2.card-title BESTIAIRE
